row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 3px;
  padding-left: 3px;
}
section {
  margin: 10px 0;
}