
.simon-bg{fill:#393A35;}
.red{fill:#D9534F;}
.orange{fill:#F47C3C;}
.green{fill:#93C54B;}
.blue{fill:#325D88;}

.red.active{fill:#E68F8D;}
.orange.active{fill:#F8AA80;}
.green.active{fill:#B9D98A;}
.blue.active{fill:#7A96B2;}


.main_buttons.failed {
    position: relative;
    -webkit-animation: shake .6s linear;
    -moz-animation: shake .6s linear;
    animation: shake .6s linear;
}
/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shake {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}
 @-moz-keyframes shake {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}
 @keyframes shake {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}