input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.progress-bar {
  transition: all 1s linear;
}
input[type=number] {
  text-align: center;
}